<% if homepage.present? %>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
          <span class="sr-only">
            Toggle navigation
          </span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= content_tag :a, class: 'navbar-brand', href: scrivito_path(homepage) do %>
          <%= image_tag 'http://tstoaddicts.files.wordpress.com/2014/06/donut-loading.png', width: '30px', height: '30px' %>
          <%= homepage.headline %>
        <% end %>
      </div>

      <div class="navbar-collapse collapse">
        <%= render('layouts/search', search_page: homepage.search_page, query: params[:q]) %>
        <%= render('layouts/login', login_page: homepage.login_page, current_user: current_user) %>

        <%= scrivito_tag_list(:ul, homepage, :toclist, class: 'nav navbar-nav', id: 'main_nav') do |list, obj| %>
          <%= list.tag(:li, id: "main_nav_page_#{obj.id}", data: { path: obj.path }) do %>
            <%= link_to(scrivito_path(obj)) do %>
              <%= scrivito_field(obj, :headline) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
